/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

&mt {
    //  flavor = "tap-preferred";
    // tapping-term-ms = <200>;
};

/ {
    combos {
        compatible = "zmk,combos";

        combo_esc {
            timeout-ms = <50>;
            key-positions = <3 2>;
            bindings = <&kp ESC>;
        };

        combo_tab {
            timeout-ms = <50>;
            key-positions = <21 22>;
            bindings = <&kp TAB>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q                 &kp D      &mt LEFT_CONTROL R  &kp W  &kp T    &kp J  &kp F  &mt RIGHT_CONTROL U  &kp P                      &kp SEMICOLON
&kp A                 &kp S      &kp H               &kp T  &kp G    &kp Y  &kp N  &kp E                &kp O                      &kp I
&kp Z                 &kp X      &kp M               &kp C  &kp V    &kp K  &kp L  &kp COMMA            &kp PERIOD                 &kp SLASH
&mt LEFT_SHIFT ENTER  &kp SPACE                                                                         &mt RIGHT_SHIFT BACKSPACE  &mo 1
            >;
        };

        left_layer {
            bindings = <
&kp N1   &kp N2            &kp N3          &kp N4                &kp N5       &kp N6     &kp N7                 &kp N8           &kp N9             &kp N0
&kp SQT  &kp LEFT_BRACKET  &kp LEFT_BRACE  &kp LEFT_PARENTHESIS  &kp MINUS    &kp PLUS   &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACE  &kp RIGHT_BRACKET  &kp EXCLAMATION
&none    &none             &kp EQUAL       &kp AMPERSAND         &kp GRAVE    &kp MINUS  &kp PIPE               &trans           &trans             &kp NON_US_BACKSLASH
&mo 2    &trans                                                                                                                  &trans             &trans
            >;
        };

        right_layer {
            bindings = <
&kp F1     &kp F2       &kp F3    &kp F4     &kp F5      &kp F6     &kp F7    &kp F8    &kp F9        &kp F10
&kp LCTRL  &kp LALT     &kp LGUI  &kp LSHFT  &kp SEMI    &kp MINUS  &kp LEFT  &kp DOWN  &kp UP_ARROW  &kp RIGHT
&kp LSHFT  &kp KP_PLUS  &kp LBKT  &kp RBKT   &kp BSLH    &kp UNDER  &kp LEFT  &kp DOWN  &kp UP        &kp RIGHT
&none      &kp LCTRL                                                                    &kp SPACE     &mo 3
            >;
        };

        layer_3 {
            bindings = <
&bt BT_SEL 1    &bt BT_SEL 2  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans          &trans        &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&bt BT_CLR_ALL  &trans        &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans          &trans                                                          &trans  &trans
            >;
        };
    };
};
