/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

&mt {
    //  flavor = "tap-preferred";
    // tapping-term-ms = <200>;
};

/ {
    combos {
        compatible = "zmk,combos";

        combo_esc {
            timeout-ms = <50>;
            key-positions = <11 12>;
            bindings = <&kp ESC>;
        };

        combo_tab {
            timeout-ms = <50>;
            key-positions = <21 22>;
            bindings = <&kp TAB>;
        };

        combo_rshift {
            timeout-ms = <50>;
            key-positions = <17 16>;
            bindings = <&kp RIGHT_SHIFT>;
        };

        combo_lshift {
            timeout-ms = <50>;
            key-positions = <12 13>;
            bindings = <&kp LSHIFT>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q      &kp W      &kp E  &kp R  &kp T    &kp Y  &kp U  &kp I      &kp O    &kp P
&kp A      &kp S      &kp D  &kp F  &kp G    &kp H  &kp J  &kp K      &kp L    &kp SEMICOLON
&kp Z      &kp X      &kp C  &kp V  &kp B    &kp N  &kp M  &kp COMMA  &kp DOT  &kp SLASH
&kp SPACE  &kp LCTRL                                                  &to 1    &kp RIGHT_SHIFT
            >;
        };

        left_layer {
            bindings = <
&kp N1           &kp N2            &kp N3          &kp N4                &kp N5           &kp N6     &kp N7                 &kp N8           &kp N9             &kp N0
&kp EXCLAMATION  &kp LEFT_BRACKET  &kp LEFT_BRACE  &kp LEFT_PARENTHESIS  &kp LS(EQUAL)    &kp MINUS  &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACE  &kp RIGHT_BRACKET  &kp SQT
&kp EQUAL        &kp PERCENT       &kp ASTERISK    &kp AMPERSAND         &kp GRAVE        &kp MINUS  &kp PIPE               &trans           &trans             &kp NON_US_BACKSLASH
&to 0            &kp LGUI                                                                                                                    &kp RGUI           &mo 2
            >;
        };

        right_layer {
            bindings = <
&kp EXCL   &kp AT       &kp HASH  &kp DLLR   &kp PRCNT    &kp CARET  &kp AMPS      &kp KP_MULTIPLY  &kp LPAR   &kp RPAR
&kp HASH   &kp QMARK    &kp FSLH  &kp COLON  &kp SEMI     &kp MINUS  &kp KP_EQUAL  &kp LBRC         &kp RBRC   &kp BSPC
&kp LSHFT  &kp KP_PLUS  &kp LBKT  &kp RBKT   &kp BSLH     &kp UNDER  &kp LEFT      &kp DOWN         &kp UP     &kp RIGHT
&mo 3      &kp LCTRL                                                                                &kp SPACE  &mo 2
            >;
        };

        tri_layer {
            bindings = <
&kp N1      &kp N2      &kp N3      &kp N4  &kp N5    &trans  &trans     &trans        &trans      &trans
&kp F1      &kp F2      &kp F3      &kp F4  &kp F5    &trans  &kp PG_UP  &kp K_VOL_UP  &kp K_MUTE  &trans
&bt BT_CLR  &bt BT_NXT  &bt BT_PRV  &kp F6  &kp F7    &trans  &kp PG_DN  &kp K_VOL_DN  &trans      &trans
&trans      &trans                                                                     &trans      &trans
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans                                                    &trans  &trans
            >;
        };
    };
};
